@charset 'utf-8'

/* =============================================================================
Main Style

@author Steven
@link http://wenwang.org/
@version 1.0
@tags html5, css3, stylus, 跨终端, 模块化, 高性能
@update 2014-8-1
============================================================================= */

/* Var
============================================================================= */
support-for-ie = false
fonts = 'Microsoft Yahei', helvetica, arial
red = #D40000
red-light = #CC0
blue = #1A4991
blue-dark = #243851
gray-light = #1F1F1F
gray-dark = #444
yellow = #FE8900
green = #379A00

@import 'nib'
@import 'base.styl'
@import 'gmu.styl'

/* Reset
============================================================================= */
body
  min-width 320px
  color #000
  user-select none
  background #fff

html.account body
  background #F8F8F8

a, a:visited
  color inherit

a:hover
  color inherit

/* Helper
========================================================================== */
/* 分割线 */
.hr
  clear both
  margin 5px 0
  height 0
  line-height 0
  overflow hidden
  border-bottom 1px dotted #ddd
  font-size 0

/* 遮罩层 */
.w-mask
  display none
  fixed top left bottom right
  z-index 111
  background rgba(0,0,0,.4)

/* js placeholder style */
.placeholder
  color #A6A6A6 !important

/* 排版 */
.highlight
  color red !important

.fn-tl
  text-align left !important

.fn-tc
  text-align center !important

.fn-tr
  text-align right !important

.fn-tj
  text-align justify !important

.fn-dn, .js-hide
  display none !important

.fn-di
  display inline !important

.fn-db
  display block !important

.fn-dib
  display inline-block !important

.fn-vh
  visibility hidden !important

.fn-auto
  margin-left auto !important
  margin-right auto !important

.fn-nowrap
  white-space nowrap !important

.fn-brk
  word-wrap break-word !important

.f0
  font-size 0 !important

.p0
  padding 0 !important

.m0
  margin 0 !important

.mt0
  margin-top 0 !important

.mb0
  margin-bottom 0 !important

.mxh70
  max-height 70px !important

/* AD */
.ad
  margin 10px auto
  overflow hidden
  text-align center
  background #f8f8f8
  a
    display block
  img
    width 100%

/* Plugin
========================================================================== */
/*
@name wui-carousel
@overview WUI 跑马灯组件
@require zepto.js & wui.js
*/
.wui-carousel
  position relative
  width 100%
  height 165px
  text-align center

  .wui-carousel-cnt
    position relative
    height 100%
    overflow hidden

    .item
      position absolute
      width 100%
      height 100%
      top 0
      left 0
      box-sizing border-box
      visibility hidden
      overflow hidden

      &.active
        z-index 1
        visibility visible

      > a
        display block
        width 100%
        height 100%
        overflow hidden

        img
          width 100%

      > p
        position absolute
        bottom 0
        width 100%
        height 30px
        line-height 30px
        overflow ellipsis
        text-indent 8px
        text-align left
        word-break break-all
        color #fff
        font-size .9rem
        pointer-events none
        background rgba(0,0,0,.5)

        a
          display block
          margin-right 5rem
          overflow ellipsis

          i
            position relative
            display inline-block
            margin-right 10px
            padding 0 2px
            height 14px
            line-height 14px
            border-radius 2px
            text-indent 0
            color #fff
            font-size .68rem
            vertical-align middle
            background yellow

          i:after
            position absolute
            right -6px
            top 50%
            margin-top -3px
            content ''
            arrow left 3px yellow

  .wui-carousel-ctrl
    position absolute
    z-index 2
    bottom 0
    right 8px
    height 30px
    line-height 30px
    text-align right
    font-size 0

    .item
      display inline-block
      margin 0 2px
      width 6px
      height 6px
      border-radius 3px
      background rgba(144, 144, 144, 0.8)
      vertical-align middle

      &.active
          background-color #fff

/* TPL
========================================================================== */
/*
@name w-btn
@overview 通用按钮模块
@require null
*/
.w-btn, a.w-btn
  display inline-block
  padding .5em 1em
  border 1px solid rgba(0, 0, 0, .25)
  border-radius 0.3em
  background-image none
  box-shadow 0 1px rgba(0, 0, 0, .15), inset 0 1px rgba(255, 255, 255, .15)
  color #fff
  text-align center
  text-decoration none
  text-shadow 1px 1px rgba(0, 0, 0, .1)
  font-size 100%
  font-family inherit
  font-weight inherit
  white-space nowrap
  user-select none
  overflow visible
  cursor pointer

.w-btn:hover, .w-btn:focus
  text-decoration none
  background-image linear-gradient(to bottom, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1))

.w-btn:focus
  outline thin dotted
  // outline 5px auto -webkit-focus-ring-color
  outline-offset -2px

.w-btn:active
  box-shadow 0 1px rgba(0, 0, 0, .2), inset 0 1px rgba(0, 0, 0, .05)
  outline none

.w-btn-blue, a.w-btn-blue
  background linear-gradient(#4EA6D5, #4395CA)

.w-btn-blue:focus, .w-btn-blue:hover, a.w-btn-blue:hover
  background-color #4EA6D5

.w-btn-yellow, a.w-btn-yellow
  background linear-gradient(#FFFB81, #FFD147)

.w-btn-yellow:focus, .w-btn-yellow:hover, a.w-btn-yellow:hover
  background #FFE35F

/*
@name w-pager
@overview 分页模块
@require null
*/
.w-pager
  text-align right
  color #000
  font-size 12px
  font-family Arial
  white-space nowrap

.w-pager a
  display inline-block
  margin 0 3px
  width 25px
  height 24px
  line-height 24px
  overflow hidden
  color #000
  text-align center
  vertical-align middle

.w-pager a.prev, .w-pager a.next
  width auto

.w-pager a:hover
  color #E82D2C

.w-pager a.current
  color #fff
  font-weight bold
  background-color #E82D2C
  text-decoration none
  cursor default

.w-pager a i
  font-family sans-serif
  /*-webkit-transform scale(0.5)*/

/*
@name w-cnt
@overview 通用内容块样式
@require null
*/
.w-cnt
  padding 0 10px

.w-cnt-hd
  margin-left -10px
  margin-right -10px
  height 30px
  line-height 30px
  overflow hidden
  border-bottom 2px solid #DBDBDB

// .w-cnt-bd
//   padding 0 10px

/*
@name w-box
@overview 通用盒模块
@require null
*/
.w-box
  margin 10px auto

.w-box-hd
  display flex
  height 38px
  line-height 38px
  border-top 2px solid red
  background #F3F3F3

  .title
    padding 0 .5em
    overflow hidden
    font-size 1.1em
    font-weight bold
    color red

  .more
    flex 1
    text-align right

  .more a
    margin-right .5em

.w-box-bd
  padding 0 10px

/*
@name w-viewmore
@overview 通用查看更多模块
@require null
*/
.w-viewmore
  display block
  margin 0 0 1em
  padding .3rem 0
  text-align center
  font-size .8rem
  color #444
  background #f3f3f3
  &:after
    content ''
    arrow top 4px #444
    margin-left 4px
    vertical-align -1px
  &.loading:after
    content none
  &.mod2
    border 1px solid #d6d6d6
    border-radius 1px
    color #666
    background-color #fff
    &:after
      border-top-color #666
  .ui-refresh-icon
    display none

// 上拉加载页
.scroll-refresh .w-viewmore
  // opacity 0
  // margin-top -10px
  margin-left 10px
  margin-right 10px
  transition .25s ease-in
  &.loading
    opacity 1

/*
@name w-art
@overview 通用图文模块
@require null
*/
.w-art
  // margin 10px 0
  padding 10px 0
  clearfix()

  .pic
    float left
    margin-right 10px

  .txt
    overflow hidden

    h3
      max-height 48px
      color blue-dark
      overflow hidden
      // display box
      // box-orient vertical
      // overflow hidden
      // -webkit-line-clamp 2
      // -moz-line-clamp 2
      // line-clamp 2
      // text-overflow ellipsis
      // text-overflow -o-ellipsis-lastline
      // max-height 48px
      // color blue-dark

      a
        display block

/* 带边框 */
.w-art-hr
  margin 10px 0 0
  padding 0 0 10px
  border-bottom 1px #DEDEDE solid
  .txt h3
    color #000
  .txt p
    margin-top 5px
    font-size .75rem
    color #999
    vertical-align bottom
    time
      margin-left 1.5rem

// 横屏
@media only screen and (min-width 321px) and (orientation landscape)
  .w-art-wrap
    display flex
    flex-wrap wrap
    justify-content space-between

    .w-art
      width 49%

/*
@name w-headline
@overview 通用新闻头条模块
@require null
*/
.w-headline
  margin-top 10px
  text-align center
  h2
    height 25px
    line-height 25px
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
    font-weight bold
    font-size 1.1rem
    color #1A4991
  p
    height 24px
    line-height 24px
    overflow hidden
    color blue-dark
    font-size .88em
    i
      color #999
      font-family Serif
      vertical-align middle

/*
@name w-list
@overview 通用列表模块
@require null
*/
.w-list-item
  height 40px
  line-height 40px
  overflow hidden
  word-wrap break-word
  border-bottom 1px #DEDEDE solid

  > a
    display block
    color blue-dark
    overflow ellipsis

  > a strong
    font-weight bold
    color blue

  > a em
    color blue

/* headline */
.w-list.headline .w-list-item
  font-size 1.1rem
  text-align center

// 横屏
@media only screen and (min-width 321px) and (orientation landscape)
  .w-list
    clearfix()
    // display flex
    // flex-wrap wrap
    // justify-content space-between
    &.headline
      display block

  .w-list-item
    float left
    width 50%
    // flex 1 50%
    &:nth-child(odd) > a
      margin-right 1em

/*
@name w-search
@overview 搜索模块
@require null
*/
.w-search
  display flex
  margin 20px 0
  height 36px
  border 1px #D1D1D1 solid
  border-radius 5px
  overflow hidden

  input
    flex 1
    display block
    padding 10px 5px
    // width 480px
    height 16px
    line-height 16px
    border none
    outline none
    font-size 20px

  button
    display block
    padding 0 10px
    // width 100px
    height 100%
    border none
    border-left 1px #D1D1D1 solid
    text-align center
    color #666
    font-size 1rem
    white-space nowrap
    // letter-spacing .2em
    background #F9F9F8

/*
@name w-cats
@overview 分类模块
@require null
*/
.w-cats
  margin 10px 0
  background #F3F3F3

.w-cats-hd
  height 21px
  line-height 21px
  background #CDCDCD
  .title
    position relative
    display inline-block
    padding 0 1em
    color #fff
    font-size .8em
    vertical-align bottom
    background yellow
  .title:after
    position absolute
    bottom -10px
    left 50%
    margin-left -2px
    content ''
    arrow top 5px yellow
  .title.red
    background red
  .title.red:after
    arrow top 5px red

.w-cats-bd
  padding 0 1em 1em 0
  li
    display inline-block
    margin 1em 0 0 1em
    font-size .8em
    text-decoration underline

/*
@name w-form
@overview 表单模块
@require null
*/
.w-form
  margin 10px
  .error-msg
    margin 15px 0
    text-align center
    font-size 1rem
    color red

.w-form-item
  margin 15px 0
  &.readonly
    margin-bottom -5px
    font-size .88rem
    color #888
    em
      color blue
  .input
    display flex
    position relative
    padding 0 10px
    height 40px
    line-height 40px
    border 1px solid #ccc
    border-radius 3px
    box-shadow 0 2px 3px rgba(0,0,0,.08) inset
    white-space nowrap
    background #fff
  label
    display inline-block
    color #888
    font-weight bold
  label.icon
    text-indent -9999px
    width 18px
    // height 18px
    vertical-align middle
    background url(../img/icon-login.png) 50% 50% no-repeat
    background-size contain
  // label.userid
  //   background-image url(../img/icon-login.png)
  label.password
    background-image url(../img/icon-password.png)
  label.email
    background-image url(../img/icon-email.png)
  input[type='text'],
  input[type='email'],
  input[type='password']
    flex 1
    display block
    margin 8px 0 8px 15px
    height 24px
    line-height 24px
    font-size 1rem
    // color blue
    border none
    outline none
    background #fff
  button
    display block
    margin-top 20px
    width 100%
    height 40px
    line-height 40px
    text-align center
    color #fff
    font-size 1.1rem
    letter-spacing .5rem
    border none
    border-radius 3px
    background linear-gradient(top, #D60000, #C20000)

/*
@name w-card
@overview 名片模块
@require null
*/
.w-card
  display flex
  margin-bottom 15px
  padding 10px
  border-bottom 1px #ccc solid
  background #fff
  .avatar
    width 64px
    height 64px
    overflow hidden
    border 1px #ccc solid
    border-radius 5px
    img
      display block
      width 100%
      height 100%
  .info
    flex 1
    padding-left 1rem
    h3
      font-size .95rem
      font-weight bold
      color #666
    li
      margin-top 3px
      font-size .66rem
      color #999

/*
@name w-dialog
@overview 弹窗模块
@require null
*/
.w-dialog
  background #fff
  .ui-dialog-title
    height 32px
    line-height 32px
    padding 0 10px
    border-radius 0
    text-align left
    font-size 1rem
    font-weight bold
    color red
    background none
  .ui-dialog-close
    top 0
    right 10px
    padding 0
    margin 0
    border-radius 0
    .ui-icon
      width 22px
      height 22px
      background #999 url(../img/gmu/icon-dialog-close.png) no-repeat
      background-size contain
  .ui-dialog-content
    padding 10px

/* 登录弹窗 */
.w-dialog-login
  .w-form
    margin -10px 0 0
    .w-form-item button
      margin-top 0
      height 35px
      line-height 35px
      font-size 1rem
    .reg-now
      float left
      margin .5rem 0 1rem
      font-size .8rem
    .forget-password
      float right
      margin .5rem 0 1rem
      font-size .8rem

/* Layout
========================================================================== */
/** Header **/
#header
  position relative
  z-index 11
  padding 10px 0 10px
  border-bottom 2px red solid
  background #fff

html.account #header
  border-bottom none
  background #F8F8F8

#header .logo
  margin 0 10px
  height 22px
  line-height 22px

#header .logo a
  display inline-block
  height 100%
  > span
    display inline-block
    margin-left 4px
    font-size 18px
    font-weight bold
    color red
    line-height 1
    margin-bottom -3px
    vertical-align bottom
  > img
    height 100%
  &.dropmenu-trigger:after
    content ''
    display inline-block
    margin-left 5px
    width 9px
    height 5px
    vertical-align -2px
    background url(../img/arrow-down-gray.png) 0 50% no-repeat
    background-size contain
  &.dropmenu-trigger.on:after
    vertical-align 1px
    background-image url(../img/arrow-up-gray.png)

#header .logo strong
  font-weight bold
  color red
  font-size .95rem
  line-height 1
  vertical-align bottom
  &:before
    content ''
    display inline-block
    margin 0 5px
    height 1em
    width .2rem
    border-left 1px #999 solid
    vertical-align bottom

#header .position
  @extend #header .logo
  a
    // display inline-block
    font-size .9em
    color blue
    vertical-align middle
  a:first-child:before
    content ''
    display inline-block
    margin-right 8px
    width 20px
    height 22px
    background url(../img/icon-home.png) 0 50% no-repeat
    background-size 20px
    vertical-align bottom
    // vertical-align -3px
  i
    display inline-block
    margin 0 2px
    width 5px
    text-indent -9999px
    background url(../img/arrow-rt-gray.png) 0 50% no-repeat
    background-size contain
    vertical-align middle
    // color #A1A1A1
    // font-family Serif
    // vertical-align -2px

#header .sitenav
  position absolute
  right 10px
  bottom 10px
  text-align right
  // background #ccc

  > a
    display inline-block
    margin -10px -10px -10px 0
    padding 32px 10px 10px
    width 20px
    height 0
    overflow hidden
    background-position 50% 50%
    background-repeat no-repeat
    background-size 20px
    vertical-align middle
    font-size 0
    // background-color #ccc

    &.dropmenu-trigger
      // image '../img/dropmenu-trigger.png'
      background-image url(../img/dropmenu-trigger.png)

/** Dropmenu **/
#dropmenu nav
  display none
  // height 0
  // overflow hidden
  position absolute
  z-index 11
  left 0
  right 0
  // margin-top 11px
  padding 0 10px
  background #fff

  > h2
    // margin-bottom 5px
    margin-bottom 4px
    // padding 13px 0 7px
    padding 13px 0 3px
    // border-bottom 1px #DEDEDE solid
    font-size .95rem
    // color #AA0202

  > .chanel
    margin-bottom 5px

    > li
      // display flex
      justify-content space-between
      // display box
      // box-pack justify
      margin 8px 0
      text-align justify
      font-size 0

      &:after
        content ''
        display inline-block
        width 100%
        height 0
        overflow hidden

      > a
        // display block
        display inline-block
        width auto
        padding 0 8px
        height 24px
        line-height 24px
        overflow hidden
        border 1px #CCC solid
        text-align center
        // font-size 1.1rem
        font-size 1rem
        color #666

  > .nav
    // display flex
    // flex-wrap wrap
    // justify-content space-between
    // align-content flex-start
    margin-bottom 20px
    // text-align justify
    // font-size 0
    line-height 0

    > a
      @extend #dropmenu nav > .chanel > li > a
      // flex none
      display inline-block
      width auto
      margin 4px 0
      // margin-right .5rem

  // 登录框
  .form-login
    clear both
    display flex
    justify-content space-between
    margin 0

    .w-form-item
      flex 2
      margin 10px 5px 5px 0

      &:last-child
        flex 0 58px
        margin-right 0

      .input
        padding 0 5px
        height 33px
        line-height 33px

      label.icon
        width 16px

      input[type='text'],
      input[type='email'],
      input[type='password']
        margin 6px 0 6px 5px
        height 21px
        line-height 21px
        font-size .95rem

      button
        margin-top 0
        height 35px
        line-height 35px
        font-size 1rem
        letter-spacing normal

  /* 用户信息 */
  .user-info
    display flex
    margin-bottom 5px
    padding 10px 0
    border-bottom 1px #CCC solid
    font-size .95rem
    color #666

    .avatar img
      width 24px
      height 24px

    .name
      margin-left 5px
      vertical-align middle

    .center
      margin-left 10px
      color blue
      vertical-align middle

    .logout
      flex 1
      text-align right
      vertical-align middle

// 横屏
@media only screen and (min-width 321px) and (orientation landscape)
  #dropmenu nav
    > .chanel
    > h2:nth-child(2)
      float left
      clear right
      width 320px
      margin-right 15px

    > .nav
      overflow hidden

#dropmenu .w-mask
  z-index 10

#dropmenu-subsite
  nav
    display none
    position absolute
    z-index 11
    left 0
    right 0
    margin-top -44px
    padding 0 10px 25px
    color #333
    background #FCFCFA
    h2
      margin 10px 0
      font-weight bold
      font-size .8em
    ul
      border 1px #C0C0C0 solid
      border-radius 6px
      background #fff
    li
      // display flex
      border-bottom 1px #C0C0C0 solid
      font-size 0
    li a
      // flex 1
      // display block
      display table-cell
      box-sizing border-box
      padding .5em 0
      width 25%
      height 100%
      border-right 1px #C0C0C0 solid
      text-align center
      font-size 15px
      vertical-align middle
    li a:last-child
      border-right 0
    li:last-child
      border-bottom 0
    li a em
      color blue
    header
      margin 0 -10px
      padding 0 10px
      height 44px
      line-height 44px
      overflow hidden
      background red
    header a
      display inline-block
      margin-right 5px
      padding 0 5px
      height 18px
      line-height 18px
      color #fff
      font-size .66em
      background yellow
    header span
      font-size .88em
      color #fff
  .w-mask
    // display block
    z-index 10

/** Footer **/
#footer
  margin-top 20px
  border-top 1px solid #DADADB
  background #F3F3F3

#footer nav
  margin 0 10px

#footer nav h5
  margin 10px 0 5px
  color #444
  font-size .88em

#footer nav li
  display inline-block
  margin-bottom .5em
  font-size 1em
  color #222

#footer .copyright
  margin .7em 0 1.5em
  text-align center
  font-size .88em
  color #666

#footer .help
  height 35px
  line-height 35px
  overflow hidden
  color #f0f0f0
  font-size .9em
  text-align center
  background #D40000
  display flex

#footer .help a
  width 37%
  height 100%
  display block
  cursor pointer
  &:before
    content ''
    display inline-block
    margin-right 5px
    width 14px
    height 100%
    background-repeat no-repeat
    background-position 0 50%
    background-size contain
    vertical-align middle
  &.feedback:before
    width 11px
    background-image url(../img/icon-feedback.png)
    background-size contain
  &.gopc:before
    background-image url(../img/icon-gopc.png)
  span
    vertical-align middle
  &.gotop
    width 26%
    background-color #FE8900
  &.gotop:before
    content normal
  &.gotop:after
    content ''
    arrow bottom 4px #fff
    margin-left 4px
    vertical-align 1px
    // @extend #footer .help a:before
    // margin-right 0
    // margin-left 4px
    // width 6px
    // image '../img/arrow-up-white.png'
    // background-position 100% 50%

// #footer .help a span
//   display inline-block
//   padding-left 18px
//   background-repeat no-repeat
//   background-position 0 50%
//   background-size 14px auto

// #footer .help a.feedback span
//   image '../img/icon-feedback.png'
//   background-size 11px auto

// #footer .help a.gopc span
//   image '../img/icon-gopc.png'

// #footer .help a.gotop
//   width 26%
//   background-color #FE8900

// #footer .help a.gotop span
//   padding-left 0
//   padding-right 10px
//   image '../img/arrow-up-white.png'
//   background-position 100% 50%
//   background-size 6px auto

/** Main **/
.pagenav li
  // display flex
  border-top 1px #D97975 solid
  background-color #D00
  white-space nowrap
  font-size 0
  &:first-child
    margin-top -1px
    border 0
  a
    // flex 1
    box-sizing border-box
    display inline-block
    width 25%
    height 28px
    line-height 28px
    overflow hidden
    border-left 1px #D97975 solid
    text-align center
    font-size .95rem
    color #fff
  a:first-child
    border 0
  a.more:after
    content ''
    arrow top 4px #fff
    margin-left 4px
    vertical-align -1px
  a.more.fold:after
    arrow bottom 4px #fff
    vertical-align 2px

.w-cnt-news
  h2.title
    display inline-block
    margin 1rem 0 0
    // padding .1em .4em
    padding 3px .4rem 2px // 在手机中文字不垂直居中
    line-height 1
    font-size 14px
    color #fff
    background-color #d00
  h3.title
    margin .5rem 0
    color blue
    text-align right
  .w-search
    margin 0 0 1rem

/* 注册页 */
.form-login
  margin-bottom 5rem
  .forget-password
    margin-top 10px
    text-align right
    a
      color blue
  .reg-now
    margin-top 2rem
    text-align center
    color #999
    font-size .95rem
    a
      color green

/* 注册页 */
.cnt-404
  margin 5rem 10px
  p
    margin 1.5rem 0
    text-align center
    strong
      font-size .9rem
      color red
    a
      font-size .95rem
      color blue
      text-decoration underline

/* 个人中心 */
.cnt-center
  margin-bottom 2rem
  border-top 1px #CCC solid
  .mycomment
    position relative
    display block
    margin-bottom 4rem
    padding 0 10px
    height 34px
    line-height 34px
    border-top 1px #ccc solid
    border-bottom 1px #ccc solid
    font-size .9rem
    color blue
    background #fff
    &:after
      position absolute
      right 10px
      top 50%
      margin-top -4px
      content ''
      arrow left 4px blue
  .comment-list
    padding 0 10px
    .comment-title
      margin-top 10px
      font-size .9rem
      color blue
      &:after
        content ''
        arrow top 4px blue
        margin-left 5px
        vertical-align -1px
    .w-art
      margin 0

/* 文章页 */
.cnt-news
  .news-content
    margin 15px 0
    padding 0 10px
    h1
      font-weight bold
      font-size 1.25rem
      line-height 1.3
      color #000
    .from
      position relative
      margin-top 10px
      font-size .75rem
      color #666
      .setfont
        position absolute
        right 0
        width 30px
        border 1px solid #d7d7d7
        border-radius 1px
        text-align center
        color blue
    article
      p
        margin 1rem 0
        color #111
        // font-weight bold
        img
          display block
          max-width 100%
          height auto
          margin .5em auto
      .art-pic
        margin .5rem 0
        text-align center
        .pic
          display block
          max-width 100%
          height auto
          overflow hidden
        .des
          margin 5px 0 0
  .news-related .from
    margin 1rem 0
    text-align right
    font-size .68rem
    color #666
    span
      margin-left 1rem
  .news-comment
    margin 20px 0
    padding 0 10px
    > h3
      margin 10px 0
      font-size .9rem
      font-weight bold
      color #000
    .comment-reply
      display flex
      // display box
      .avatar
        display block
        margin-right 5px
        width 50px
        overflow hidden
        text-align center
        img
          width 100%
          height 50px
        span
          display block
          height 18px
          line-height 18px
          overflow hidden
          font-size .68rem
          color blue
      .tarea
        display flex
        // display box
        flex 1
        position relative
        textarea
          flex 1
          display block
          box-flex 1
          padding .1rem .2rem
          height 62px
          border 1px #D1D1D1 solid
          border-radius 3px
          font-size .8em
          color #444
          background-color #F8F8F8
        .tips
          position absolute
          left 10%
          right 10%
          top 50%
          margin-top -10px
          height 20px
          line-height 20px
          overflow hidden
          text-align center
          font-size .88rem
          background #EBC2C2
    .comment-bar
      margin 10px 0
      padding-bottom 3px
      border-bottom 1px #DEDEDE solid
      text-align right
      label
        font-size .8rem
        color #444
        vertical-align middle
        input
          width 10px
          height 10px
          border 1px #8E8F8F solid
          vertical-align 1px
      button
        margin-left 10px
        padding 0 8px
        height 22px
        // line-height 18px
        border 0
        border-radius 0
        color #fff
        text-align center
        font-size .8rem
        background red
    .comment-hot
      > h3
        margin 10px 0 15px
        border-left 2px red solid
        padding-left 5px
        line-height 1
        font-size .9rem
      .comment-list li
        display flex
        padding-bottom 10px
        margin-bottom 20px
        border-bottom 1px #DEDEDE solid
        &:last-child
          border none
        .avatar
          display block
          margin-right 10px
          width 40px
          overflow hidden
          img
            width 100%
            height 40px
        .cnt
          flex 1
          > h4
            display flex
            font-size .68rem
            a
              flex 1
              color blue
            time
              flex 1
              text-align right
              color #666
          > p
            margin-top 2px
            font-size .8rem
  .pagenav-ft
    margin-top 2rem
    padding 0 10px
    h3
      font-size .88rem
    li
      border-color #CDCDCD
    li:first-child
      margin-top 0
      border-top 1px solid #CDCDCD
    a
      color blue
      font-size 14px
      border-color #CDCDCD
      background-color #F3F3F3
    a.more:after
      border-top-color blue
    a.more.fold:after
      border-bottom-color blue

/** 子站配色 **/
/* 物联网 */
html.iot
  #header
    border-color #034DAD
  .pagenav li
    border-color #034DAD
    background #0459B8
    a
      border-color #034DAD
  .w-box-hd
    border-color #034DAD
    .title
      color #0459B8

/* 新能源汽车 */
html.nev
  #header
    border-color #0E61AB
  .pagenav li
    border-color #0E61AB
    background #1170BB
    a
      border-color #0E61AB
  .w-box-hd
    border-color #0E61AB
    .title
      color #1170BB

/* 锂电网 */
html.libattery
  #header
    border-color #ED242F
  .pagenav li
    border-color #ED242F
    background #E20000
    a
      border-color #ED242F
  .w-box-hd
    border-color #ED242F
    .title
      color #E20000

/* 节能环保 */
html.ecep
  #header
    border-color #2B862D
  .pagenav li
    border-color #2B862D
    background #34A637
    a
      border-color #2B862D
  .w-box-hd
    border-color #2B862D
    .title
      color #34A637

/* 可穿戴设备 */
html.wearable
  #header
    border-color #E15500
  .pagenav li
    border-color #E15500
    background #F15C00
    a
      border-color #E15500
  .w-box-hd
    border-color #E15500
    .title
      color #F15C00

/* 智能家居 */
html.smarthome
  #header
    border-color #018FA9
  .pagenav li
    border-color #018FA9
    background #019BB5
    a
      border-color #018FA9
  .w-box-hd
    border-color #018FA9
    .title
      color #019BB5

/* 机器人 */
html.robot
  #header
    border-color #0A5869
  .pagenav li
    border-color #0A5869
    background #0A6375
    a
      border-color #0A5869
  .w-box-hd
    border-color #0A5869
    .title
      color #0A6375

/* 电子工程 */
html.ee
  #header
    border-color #0F4784
  .pagenav li
    border-color #0F4784
    background #07237A
    a
      border-color #0F4784
  .w-box-hd
    border-color #0F4784
    .title
      color #07237A

/* 3D打印 */
html.threedprint
  #header
    border-color #A82B2B
  .pagenav li
    border-color #A82B2B
    background #C60000
    a
      border-color #A82B2B
  .w-box-hd
    border-color #A82B2B
    .title
      color #C60000

/* 医疗科技 */
html.medtech
  #header
    border-color #00ACEE
  .pagenav li
    border-color #00ACEE
    background #0895D3
    a
      border-color #00ACEE
  .w-box-hd
    border-color #00ACEE
    .title
      color #0895D3